html{
       display: flex;
    justify-content: center;
    align-items: center; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.formbody{
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.submitButton{
    width: 50%;
}

